/* base styles  */
@import './var.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 7px;
  background-color: $myprimary;
}
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 20% 0%, 75% 95%, from(#046b38), to(#046b38), color-stop(0.5, $mygreen));
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
  background-color: #f5f5f5;
  border-radius: 4px;
}

html,
body {
  font-size: 16px;
  height: 100vh;
}

body {
  position: relative;
  background: $myprimary;
  z-index: -10;
  color: $myprimary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2,
h3,
h4 {
  font-weight: bold;
}

h2 {
  font-size: $font-size-xxl;
}

h3 {
  font-size: $font-size-xl;
}

p {
  font-size: $font-size-base;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  $padding-inlain: clamp(1rem, 0.032rem + 4.131vw, 3.75rem);
  $content-max-width: 1320px;
  $breakout-max-width: 1440px;
  $breakout-size: calc(calc($breakout-max-width - $content-max-width) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(0, 1fr)
    [breakout-start] minmax(0, $breakout-size) [content-start] min(100% - ($padding-inlain * 2), $content-max-width)
    [content-end]
    minmax(0, $breakout-size) [breakout-end]
    minmax(0, 1fr) [full-width-end];
}

.container > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.container > .breakout {
  grid-column: breakout;
}

.container .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}
.container .full-width-window {
  grid-column: full-width;
  display: grid;
  padding: 0 1rem;
}

.primary-btn {
  display: inline-block;
  position: relative;
  border: unset;
  width: 160px;
  padding: 0.5rem 1.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: $secondary;
  background: $myprimary;
  border-radius: 10px;
  border: 1px solid $mygreen;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: $mygreen;
    transition: all 250ms;
    transform-origin: top left;
    transform: translate(-100%, 35%) rotate(10deg);
    z-index: -1;
  }
  &:hover::before {
    transform: translate(0);
  }

  &:hover {
    color: $myprimary;
    border: 1px solid $myprimary;
  }
}
