$laptop: 1440.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-s: 480.98;
$mobile-xs: 425.98;

@mixin laptop-above {
  @media (width > $laptop) {
    @content;
  }
}

@mixin laptop {
  @media (width <= $laptop) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > $tablet) {
    @content;
  }
}

@mixin tablet {
  @media (width <= $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > $mobile) {
    @content;
  }
}

@mixin mobile {
  @media (width <= $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > $mobile-s) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= $mobile-s) {
    @content;
  }
}

@mixin mobile-xs {
  @media (width <= $mobile-xs) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}

@mixin max-height($height) {
  @media (height <= $height) {
    @content;
  }
}

@mixin boxShadow() {
  box-shadow: 0px 0px 16px rgba(209, 209, 209, 0.5);
}

@mixin myTransitionAll() {
  transition: all 0.3s ease;
}

@mixin myBorder() {
  border: 1px dashed $dark;
}
