/* base styles  */
@import './var.scss';
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 20% 0%, 75% 95%, from(#046b38), to(#046b38), color-stop(0.5, $mygreen));
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
  background-color: #f5f5f5;
  border-radius: 4px;
}

html,
body {
  font-size: 18px;
  height: 100vh;
}

body {
  position: relative;
  background-color: $myprimary;
  z-index: -10;
  color: $myprimary;
}

h2,
h3,
h4 {
  font-weight: bold;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
}
li {
  list-style-type: none !important;
}
button,
.btn {
  background: $secondary;
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}
button:hover,
.btn:hover {
  background: $myprimary;
  color: $mygreen;
}
button:disabled {
  opacity: 0.5;
  color: $mygreen;
  background: $secondary;
  cursor: not-allowed;
}
.paragraph {
  text-indent: 20px;
}
